
@{
    ViewBag.PageTitle = "Band";
}

<h2>Band List</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Band</th>
                <th>Hometown</th>               
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var band in ViewBag.bands)
            {
            <tr>
                <td>
                    @band.Name
                </td>
                <td>
                    @band.Hometown
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = band.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = band.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = band.Id })
                </td>
            </tr>
            }
            
        </tbody>
    </table>





